* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(46, 46, 46);
    color: rgb(209, 209, 209);
}

.title {
    font-size: 2rem;
}

#container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

input[type=number] {
    border-radius: 14px;
    border: #4b4b4b 2px solid;
    padding: 5px 12px;
    min-width: 100px;
}

#suggestions {
    font-style: italic;
    color: gray;
    margin: 15px 0px;
}
#suggestions > p {
    margin: 5px 0px;
}
#suggestions > p > span{
    font-weight: bold;
}

button {
    border: none;
    border-radius: 15px;
    background-color: #2e47ee;
    font-size: 26px;
    padding: 15px 50px;
    margin: 30px 0px;
    cursor: pointer;
    color: white;
}
button:hover {
    background-color: #4a61f7;
    box-shadow: 0px 0px 20px 0px rgb(116 143 238 / 18%);
}

.legend{
    margin-bottom: 30px;
}


#buildingInfoText {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 30px;
}


ul {
    padding-inline-start: 0;
}
li {
    list-style-type: none;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}